:root {
    /* カラー */
    --color-text-primary: #1a1a1c;
    --color-text-secondary: #4d4d4d;
    --color-alert:#ec0000;

    /* css-grid */
    --width-container: 70rem;
    --gap-columns: 2rem;

    /* font */
    --fontsize: 16px;
    --fontsize-large: 1.3rem;
    --fontweight-normal: 400;
    --fontweight-medium: 500;
    --fontweight-semibold: 600;
    --fontweight-bold: 700;
    
    /* フォントフォーマット */
    --ff: "Noto Sans JP",-apple-system,blinkmacsystemfont,"Segoe UI","Hiragino Kaku Gothic ProN","BIZ UDPGothic",meiryo,sans-serif;
}

body {
    color: var(--color-text-primary);
    font-family: var(--ff);
    font-size: var(--fontsize);
    font-weight: var(--fontweight-normal);
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}
